@tailwind base;
@tailwind components;
@tailwind utilities;

/* baaki tumhara code same rehne do niche */

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
}

/* DARK MODE */
.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
